.activities_card {
    /* border: 1px solid red; */
    width: 100%;
}

.activity-card {
    /* position: fixed; */
    width: 90%;
    margin: 50px auto;
    /* transform: translate(-50%, -50%); */
    background: #D9D9D9;
    opacity: 0.8;
    border-radius: 50px;
    border: 1px solid transparent;
}


.activity-card > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px 30px;
    /* padding-top: 30px; */
    /* border: 1px solid red; */
}

.activity-card > .header > h2 {
    font-size: 30px;
}

.activity-card > .header > span {
    /* border: 1px solid red; */
}

.activity-card-detail {
    margin: 30px 50px 25px;
}

.activity-card-detail > .name {
    font-size: 22px;
}

.activity-card-detail > .description {
    font-size: 18px;
    margin: 0;
}

.activity-card-detail > hr {
    border: 2px solid #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
}

.activity-tab {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding-right: 30px;
    padding-left: 10px;
    /* border: 1px solid red; */
}

.activity-tab > div:nth-child(1) > img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    height: 4em;
    width: 4em;
}

.activity-tab > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.activity-tab > .activity-left-tab > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.activity-tab > .activity-right-tab > .detail > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.activity-tab > .activity-right-tab > .detail > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    .activity-card {
        width: 100%;
        height: auto;
        border: 1px solid transparent;
    }

    .activity-card .header {
        margin: 30px auto;
        width: 90%;
        padding-top: 10px;
    }

    .activity-card-detail {
        width: 90%;
        margin: 0 auto;
    }

    .activity-tab {
        width: 98%;
        margin: 20px auto;
    }

    .activity-tab > .activity-right-tab > .detail > p {
        font-size: 18px;
    }
    
    .activity-tab > .activity-right-tab > .detail > span {
        font-size: 18px;
    }
}