@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* USER_MAIN SECTION */

.grid-main {
    position: relative;
    top: 6vh;
    width: 100%;
    height: 85vh;
    background: transparent;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    gap: 1rem;
    overflow: hidden;
    place-self: center;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* USER_LEFT SECTION */

.grid-left {
    display: flex;
    flex-direction: column;
    height: auto;    
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

/* profile_pic */

.profile_pic {
    position: relative;
    display: inline-block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_pic label i {
    font-size: 40px;
    color: #fff;
}

.profile_pic:hover label {
      display: block;
      /* show the label when hovering over the profile_pic div */
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      z-index: 1;
      /* added styles to center the element */
      display: flex;
      align-items: center;
      justify-content: center;
}

.grid-main .name_user{
    /* justify-content: center; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    /* background-color: red; */
}

.info_user {
    font-size: 1rem;
    text-align: center;
    /* border-bottom: 0.5px solid #000; */
}

.stat_user {
    font-size: 24px;
    text-align: center;
    margin-top: 16px;
}

.goals_user {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.activity_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity_icons > img{
    margin: 10px;
    height: 40px;
    width: 40px;
    margin-left: 16px;
}

.activity_icons > p{
    font-size: 1rem;
    padding-left: 15px;
    padding-top: 15px;
    /* align-items: center;    
    display: flex; */
}

.EditUserBTN {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .grid-left .EditUserBTN > a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
} */

a {
    color: #ffff;
    text-decoration: none;
}

.EditUserBTN > button {
    width: 20%;
    height: 30px;
    margin: 10px 0 10px 0;
    background-color: rgba(241, 86, 35, 0.9);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    transition: scale 0.2 ease;
    
}

.EditUserBTN > button:hover {
    background-color: rgba(112, 103, 174, 0.9);
    scale: 1.01;
}

.EditUserBTN:active {
    scale: 0.99;
}

/* USER_MIDDLE SECTION */

.grid-middle {
    display: flex;
    flex-direction: column;
    width: 900px;
    /* justify-content: center; */
    align-items: center;
    overflow-y: scroll;
    /* border: 1px solid red; */
}

.grid-middle::-webkit-scrollbar {
    width: 0;
}

.grid-middle .activity_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.grid-middle .activity_btn .create_btn {
    width: 90%;
    height: 80px;
    margin: 50px 0 30px 0;
    background-color: rgba(241, 86, 35, 0.9);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    transition: scale 0.2 ease;
}

.grid-middle .create_btn:hover {
    background-color: rgba(112, 103, 174, 0.9);
    scale: 1.01;
}

.grid-middle .create_btn:active {
    scale: 0.99;
}

.grid-middle .create_btn a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
}

.grid-middle .activity_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    /* border: 1px solid red; */
}

.grid-middle .activity_card::-webkit-scrollbar {
    width: 0;
}

/* USER_RIGHT SECTION */

.grid-right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .grid-main {
        grid-template-columns: 1fr;
        gap: 5rem;
        height: auto;
        top: 12rem;
    }

    .grid-middle {
        max-height: 90vh;
        width: 750px;
        /* overflow-y: scroll; */
    }

    .grid-right {
        height: 100vh;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    .grid-main {
        gap: 2rem;
        top: 9.5rem;
    }

    .grid-middle {
        width: 100%;
    }

    .grid-middle .activity_card {
        width: 90%;
    }
}