@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./assets/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* Body Style */
.wrapper.create_card {
    position: relative;
    top: 40px;
    width: 1000px;
    height: 700px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper.create_card .icon-close a {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(241, 86, 35, 1);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: scale 0.2 ease;
}

.wrapper.create_card .icon-close a:hover {
    scale: 1.05;
}

.wrapper.create_card .icon-close a:active {
    scale: 0.95;
}

.wrapper.create_card .form-box {
    max-width: 900px;
    width: 100%;
    padding: 25px 30px;
}

.form-box .title {
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: 15px;
}

.form-box .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(-135deg, rgba(241, 86, 35, 1), rgba(112, 103, 174, 1));
}

.form-box form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0 0px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .user-details .input-box.message {
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1em;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.user-details .input-box input.dateTime {
    padding: 0px 15px;
}

.user-details .input-box select {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1em;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.user-details .input-box select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, #162938 50%),
      linear-gradient(135deg, #162938 50%, transparent 50%);
    background-position:
      calc(100% - 25px) calc(1em + 2px),
      calc(100% - 20px) calc(1em + 2px);
    background-size:
      5px 5px,
      5px 5px;
    background-repeat: no-repeat;
}
  
.user-details .input-box select.minimal:focus {
    background-image:
      linear-gradient(45deg, rgba(112, 103, 174, 1) 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, rgba(112, 103, 174, 1) 50%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em;
    background-size:
      5px 5px,
      5px 5px;
    background-repeat: no-repeat;
}

.user-details .input-box textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    font-size: 1em;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus {
    border-color: rgba(112, 103, 174, 1);
}

.user-details .input-box textarea:focus {
    border-color: rgba(112, 103, 174, 1);
}

.user-details .input-box select:focus {
    border-color: rgba(112, 103, 174, 1);
}

.wrapper.create_card .btn {
    width: 100%;
    height: 45px;
    margin: 30px 0 0 0;
    background-color: rgba(112, 103, 174, 1);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    transition: scale 0.2 ease;
}

.wrapper.create_card .btn:hover {
    background-color: rgba(241, 86, 35, 1);
    scale: 1.01;
}

.wrapper.create_card .btn:active {
    scale: 0.99;
}

@media (max-width: 1100px) {
    
    .wrapper.create_card {
        width: 90%;
        margin: 0 auto;
    }
    
    .wrapper.create_card .form-box {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 20px;
        width: 100%;
    }

    .form-box form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 400px) {
    
    .wrapper.create_card {
        top: 50px;
        height: 550px;
    }

    .form-box .title {
        font-size: 1.35em;
    }
}